<!DOCTYPE html>
<html>
  <head>
    <title>Qna</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h3>
      <%= link_to 'QnA', root_path %>
      <%= link_to 'sign_up', new_user_registration_path, method: :get unless signed_in? %>
      <%= link_to 'sign_in', new_user_session_path, method: :get unless signed_in? %>
      <%= link_to 'My rewards', rewards_path, method: :get if signed_in? %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete if signed_in? %>
    </h3>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
